var app = {};

app.db_credential = {
  host: '',
  port: ,
  database: '',
  user: '',
  password: ''
};

app.email_credential = {
  transporter_obj:{
    host: 'smtp.gmail.com',
    port: 465,
    secure: true,
    auth: {
        user: '',
        pass: ''
    }
  },
  reference: '',
  mailOptions: {
    to: '',
    subject: ''
  }
};

app.allow_ip_password = '';

module.exports = app;
